.side-bar {
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: $primaryColor;
    

    
    .side-bar-header {
        height: 124px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        text-align: center;
        color: white;
        font-size: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;

        h1 {
            font-weight: 100;
        }
    }

    .side-bar-nav {
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: auto;

        .accordion {
            padding-top: 65px;
            background-color: $nav;

            li {
                align-items: center;
                display: block;

                &.active {
                    >a {
                        color: white;
                    }

                    ul {
                        display: block;
                    }
                }
            }

            a {
                padding: 20px 0;
                color: $ligthGrey;
                text-decoration: none;
                font-size: 20px;

                &:hover {
                    color: white;
                }

                i {
                    margin: 0 35px;
                    font-size: 22px;
                }
    
                span {
                    flex: 1;
                }
            }

            .accordion-menu {
                
                ul {
                    background-color: $primaryColor;
                    display: none;

                    li {
                        padding-left: 95px; 
                        border-bottom: 1px solid rgba(120, 129, 149, 0.1);
                    }
                }

                .accordion-icon {
                    margin-right: 15px;
                }
                            
            }
        }
        


    }
    
}